<h2>posts works!</h2>
<img [src]="img" alt="t" [ngStyle]="{
  width: '100px',
  height: '100px'
}" />

<input type="text" name="text" id="text" [(ngModel)]="title" />
<span>{{ title }}</span>

<button (click)="onButton()">Click Me</button>

<button (click)="background = !background">Click Color</button>

<!-- ngClass - якщо background, то буде thin, якщо ні Thik -->
<div
  [ngStyle]="{
    width: '100px',
    height: '100px',
    borderRadius: '50%',
    padding: '10px',
    background: background ? 'blue' : 'red'
  }"
  [ngClass]="{
    thin: background,
    thik: !background
  }"
>
  Dynamic Class
</div>

<!-- якщо *ngIf="background; в іншому випадку створюємо тригер в template -->
<div *ngIf="background; else triger_else" class="thik">Background</div>
<ng-template #triger_else><div>Background Else</div></ng-template>

<!-- використання Switch -->
<h2>використання Switch</h2>
<div [ngSwitch]="background">
  <p *ngSwitchCase="true" class="red">Lorem ipsum.</p>
  <p *ngSwitchCase="false" class="blue">Lorem ipsum. Lorem ipsum.</p>
  <p *ngSwitchDefault>Lorem ipsum.</p>
</div>

<!-- використання ngFor -->
<h2>використання ngFor</h2>
<ul>
  <li *ngFor="let item of items; let idx = index">
   {{idx}}: {{ item }}
  </li>
</ul>

<!-- використання ngfor багарівневному -->
<ul style="list-style: none">
  <li *ngFor="let post of objs">
    <p>{{post.title}} <b>{{post.author}}</b></p>
    <ul>
      <li *ngFor="let comment of post.comments">
        <div>
          <small>{{comment.name}}</small>
          <p>{{comment.text}}</p>
        </div>
      </li>
    </ul>
  </li>
</ul>

<!-- використання pipe-->
<h2>використання pipe</h2>
<p>{{nowDate | date:'shortDate'}}</p>
