button {
  width: 100px;
  height: 30px;
  background-color: rgb(174, 201, 201);
  border-radius: 10%;
}

.thik {
  font-weight: bold;
  color: blue;
}
.thin {
  font-weight: 200;
  color: white;
}
